@import "~katex/dist/katex.min.css";

.transcript-summary h2,
.transcript-summary p,
.transcript-summary ul,
.transcript-summary li,
.transcript-summary h3,
.transcript-summary h1 {
  margin: 0 !important;
}
.mobile {
  display: none !important;
}
.sidebar-plus:focus,
.sidebar-edit:focus,
.sidebar-share:focus,
.trash-icon:focus {
  box-shadow: none;
}

.sidebar-share:hover,
.sidebar-plus:hover,
.sidebar-edit:hover,
.trash-icon:hover {
  background: rgba(211, 211, 211, 0.5) !important;
  cursor: pointer;
}
.sidebar-share,
.sidebar-edit,
.trash-icon {
  padding: 10px 15px;
  border-radius: 5px;
}
.sidebar-plus {
  padding: 9px 15px;
  border-radius: 5px;
}
.no-focus:focus {
  box-shadow: none;
}
#dropdown-basic .dropdown-menu {
  left: 50% !important;
  transform: translateX(-50%) !important;
}
.name-change-input:focus {
  outline: none;
  box-shadow: none;
  border-color: transparent;
}
.audio-input:hover {
  border: 2px solid blue;
}
.audio-input {
  border: 2px solid gray;
}
.transcript-header .modal-title {
  margin: 0 auto 0 32%;
}
.transcript-tab:hover,
.transcript-summary-tab:hover {
  background: rgb(110, 110, 110) !important;
  cursor: pointer;
}

.modal-lg {
  margin-left: 50vw;
  transform: translate(-50%);
  overflow-y: auto;
}
.chat-item:hover,
.folder-item:hover {
  background-color: rgba(211, 211, 211, 0.2) !important;
}
.mobile {
  display: none;
}
.desktop {
  display: unset;
}
#dropdown-basic-chat {
  background: none;
  border: none;
  display: unset;
}
#dropdown-basic-chat:hover {
  background: rgba(211, 211, 211, 0.25);
}
#dropdown-basic-chat:focus {
  box-shadow: none !important;
}
#dropdown-basic-chat::after {
  display: none;
}
#dropdown-basic-chat .dropdown-menu {
  left: 50% !important;
  transform: translateX(-50%) !important;
}
@media (max-width: 1100px) {
  .chat-see-transcript-button {
    max-width: 175px !important;
  }
}
@media (max-width: 500px) {
  .mobile {
    display: unset;
  }
  .desktop {
    display: none;
  }
  .chat-workspace {
    flex: 1 !important;
    width: 100vw !important;
  }
  .sidebar {
    flex: 1 !important;
    width: 100vw !important;
  }
  .chat-header-mobile {
    width: 100vw !important;
  }
  .sidebar-header {
    width: 100vw !important;
  }
  .chat-see-transcript-button {
    min-width: 120px !important;
    padding: 5px !important;
    max-width: 250px !important;
    border-radius: 15px !important;
    margin-left: 18px;
  }
  .message-input {
    min-width: 70vw !important;
    border: 1px solid rgb(0, 123, 255) !important;
    background: white !important;
    z-index: 10 !important;
  }
  .send-message {
    width: 100vw !important;
  }
  .mobile {
    display: unset !important;
  }
}
