.index-hero-right {
  max-height: 60vh;
  margin-right: 10vw;
}
.demo-mobile {
  display: none !important;
}
.demo-desktop {
  display: unset !important;
}

@media (max-width: 1100px) {
  .index-hero-left {
    margin-left: 10vw;
  }
  .index-hero-right {
    margin-right: 5vw;
    max-width: 40vw;
  }
}
@media (max-width: 500px) {
  .index-hero {
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
  }
  .index-hero-left {
    margin: 2vh 5vw 5vh 5vw !important;
  }
  .index-hero-left-h2 {
    font-size: 24px !important;
  }
  .index-hero-left-h1 {
    font-size: 48px !important;
    margin-bottom: 2vh;
    align-self: center;
  }
  .index-hero-left-button {
    font-size: 24px !important;
    min-width: 150px !important;
    max-width: 200px !important;
  }
  .index-hero-right {
    margin: 0 auto;
    max-width: 80vw;
  }
  .index-hero-left-h1 {
    justify-content: center !important;
    text-align: center !important;
    font-size: 60px !important;
  }
  .index-hero-left-h2 {
    justify-content: center !important;
    text-align: center !important;
  }
  .demo1 {
    margin-top: 5vh !important;
  }
  .demo-h3 {
    font-size: 26px !important;
  }
  .demo3-div {
    flex-direction: column;
  }
  .demo3-vid {
    width: 90vw !important;
    margin-bottom: 5vh !important;
  }
  .demo-mobile {
    display: unset !important;
    width: 90vw !important;
    max-width: unset !important;
    margin: 2vh 0;
  }
  .demo-desktop {
    display: none !important;
  }
  .demo-section-mobile {
    margin-top: 0 !important;
  }
  .desktop {
    display: none !important;
  }
  .index-toggle {
    margin: 7vh 0 3vh 0 !important;
  }
  .index-toggle-btn {
    padding: 8px 8px !important;
  }
  .index-hero-left-buttons-div {
    justify-content: center !important;
  }
}
