@media (max-width: 1100px) {
  .pricing-free-credts,
  .pricing-tokens,
  .pricing-audio {
    padding: 0 !important;
    padding-top: 3vh !important;
    padding-bottom: 3vh !important;
    padding-right: 5vw !important;
    padding-left: 5vw !important;
  }
  .pricing-free-credits-h2 {
    max-width: unset;
  }
  .pricing-numbers {
    margin-top: 0vh !important;
  }
}
@media (max-width: 500px) {
  .pricing-free-credts,
  .pricing-tokens,
  .pricing-audio {
    width: unset !important;
    max-width: 90vw;
    padding-right: 0 !important;
    padding-left: 0 !important;
  }
  .pricing-free-credits-h2 {
    max-width: unset;
  }
  .pricing-numbers {
    margin-top: 5vh !important;
    flex-direction: column;
  }
  .pricing-h1 {
    font-size: 30px !important;
  }
  .pricing-li {
    font-size: 24px !important;
  }
}
