@media (max-width: 1100px) {
  .pricing-free-credits {
    width: 350px !important;
    margin-top: 42px !important;
  }
  .pricing-numbers {
    margin-top: 0vh !important;
  }
  .pricing-title {
    font-size: 42px !important;
  }
  .pricing-ul {
    width: unset !important;
    font-size: 22px !important;
  }
  .pricing-best-value {
    width: 350px !important;
    margin-top: 42px !important;
  }
  .pricing-best-section {
    width: 350px !important;
  }
  .pricing-price {
    font-size: 42px !important;
  }
  .pricing-per-month {
    font-size: 20px !important;
  }
}
@media (max-width: 500px) {
  .pricing-free-credits {
    width: 350px !important;
    margin-top: 24px !important;
    height: 270px !important;
  }
  .pricing-numbers {
    margin-top: 0vh !important;
  }
  .pricing-title {
    font-size: 42px !important;
  }
  .pricing-ul {
    width: unset !important;
    font-size: 22px !important;
  }
  .pricing-best-value {
    width: 300px !important;
    margin-top: 84px !important;
  }
  .pricing-best-section {
    width: 300px !important;
    height: 270px !important;
  }
  .pricing-price {
    font-size: 42px !important;
    color: #0795ff !important;
  }
  .pricing-per-month {
    font-size: 20px !important;
    color: #0795ff !important;
  }
  .pricing-h1 {
    font-size: 50px !important;
    text-align: center !important;
    margin: 0 auto !important;
  }
  .pricing-li {
    font-size: 24px !important;
  }
  .pricing-half {
    height: 270px !important;
  }
}
